name: Build VRR Client

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    env:
      THEOS: ${{ github.workspace }}/theos

    steps:
      - uses: actions/checkout@v3

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $THEOS

      - name: Download iOS SDK (The Fix)
        run: |
          curl -LO https://github.com/theos/sdks/archive/master.zip
          unzip master.zip
          mv sdks-master/*.sdk $THEOS/sdks
          rm -r sdks-master master.zip

      - name: Build Package
        run: |
          make package FINALPACKAGE=1

      - name: Upload .deb
        uses: actions/upload-artifact@v3
        with:
          name: VRRClient_DEB
          path: packages/*.deb
