name: Build VRR Client

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Build Package
        run: |
          make package FINALPACKAGE=1

      - name: Upload .deb
        uses: actions/upload-artifact@v3
        with:
          name: VRRClient_DEB
          path: packages/*.deb
